@include setColor('background-color', 'bg', 'main', 'default', 'light', 'lighter');
@include setColor('background-color', 'bg', 'primary', 'default', 'light', 'lighter', 'dark');
@include setColor('background-color', 'bg', 'green', 'default', 'light', 'lighter');
@include setColor('background-color', 'bg', 'red', 'default', 'light', 'lighter', 'dark');
@include setColor('background-color', 'bg', 'blue', 'default', 'light', 'lighter', 'dark');
@include setColor('background-color', 'bg', 'yellow', 'default', 'light', 'lighter');
@include setColor('background-color', 'bg', 'purple', 'default', 'light', 'lighter');
@include setColor('background-color', 'bg', 'pink', 'default', 'light', 'lighter');
@include setColor('background-color', 'bg', 'orange', 'default', 'lighter');
@include setColor('background-color', 'bg', 'teal', 'default', 'lighter');
@include setColor('background-color', 'bg', 'neutral', 'default', 'light', 'lighter','dark', 'darker');
@include setColor('background-color', 'bg', 'white', '');

.bg-body {
    background-color: $body-bg !important;
}
.bkt-bg-body {
    background-color: $body-bg !important;
}

.bkt-bg-transparent {
    background-color: transparent !important;
}
