.bkt-gap {
    gap: 10px !important;
    &-large {
        gap: 30px !important;
    }
    &-medium {
        gap: 20px !important;
    }
    &-small {
        gap: 6px !important;
    }
    &-mini {
        gap: 4px !important;
    }
    &-column {
        gap: 0 10px !important;
        &-large {
            gap: 0 30px !important;
        }
        &-medium {
            gap: 20px !important;
        }
        &-small {
            gap: 0 6px !important;
        }
        &-mini {
            gap: 0 4px !important;
        }
    }
    &-row {
        gap: 10px 0 !important;
        &-large {
            gap: 30px 0 !important;
        }
        &-medium {
            gap: 20px !important;
        }
        &-small {
            gap: 6px 0 !important;
        }
        &-mini {
            gap: 4px 0 !important;
        }
    }
}
@media (min-width: 576px) {
    .bkt-gap-up-sm {
        gap: 10px !important;
        &-large {
            gap: 30px !important;
        }
        &-medium {
            gap: 20px !important;
        }
        &-small {
            gap: 6px !important;
        }
        &-mini {
            gap: 4px !important;
        }
        &-column {
            gap: 0 10px !important;
            &-large {
                gap: 0 30px !important;
            }
            &-medium {
                gap: 20px !important;
            }
            &-small {
                gap: 0 6px !important;
            }
            &-mini {
                gap: 0 4px !important;
            }
        }
        &-row {
            gap: 10px 0 !important;
            &-large {
                gap: 30px 0 !important;
            }
            &-medium {
                gap: 20px !important;
            }
            &-small {
                gap: 6px 0 !important;
            }
            &-mini {
                gap: 4px 0 !important;
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 576px) {
    .bkt-gap-down-sm {
        gap: 10px !important;
        &-large {
            gap: 30px !important;
        }
        &-medium {
            gap: 20px !important;
        }
        &-small {
            gap: 6px !important;
        }
        &-mini {
            gap: 4px !important;
        }
        &-column {
            gap: 0 10px !important;
            &-large {
                gap: 0 30px !important;
            }
            &-medium {
                gap: 20px !important;
            }
            &-small {
                gap: 0 6px !important;
            }
            &-mini {
                gap: 0 4px !important;
            }
        }
        &-row {
            gap: 10px 0 !important;
            &-large {
                gap: 30px 0 !important;
            }
            &-medium {
                gap: 20px !important;
            }
            &-small {
                gap: 6px 0 !important;
            }
            &-mini {
                gap: 4px 0 !important;
            }
        }
    }
}

