@mixin svg-color($color, $types...) {
    @each $type in $types {
        @if $type != ''
        {
            #{'.bkt-stroke-'+$color+'-'+$type} {
                stroke: map-get($theme-colors, $color+'-'+$type) !important;
            }
            #{'.bkt-fill-'+$color+'-'+$type} {
                fill: map-get($theme-colors, $color+'-'+$type) !important;
            }
        }
        @else {
            #{'.bkt-stroke-'+$color} {
                stroke: map-get($theme-colors, $color+'-default') !important;
            }
            #{'.bkt-fill-'+$color} {
                fill: map-get($theme-colors, $color+'-default') !important;
            }
        }

    }
}
@mixin setColorSvg($property, $color, $types...) {
    @each $type in $types {
        @if $type == 'default'
        {
            #{'.bkt-'+$property+'-'+$color} {
                #{$property}: map-get($theme-colors, $color+'-default') !important;
            }
        }
        @else if $type == '' {
            #{'.bkt-'+$property+'-'+$color} {
                #{$property}: map-get($theme-colors, $color) !important;
            }
        }
        @else {
            #{'.bkt-'+$property+'-'+$color+'-'+$type} {
                #{$property}: map-get($theme-colors, $color+'-'+$type) !important;
            }
        }
    }
}


@include svg-color('main', '', 'light', 'lighter');
@include svg-color('primary', '', 'light', 'lighter', 'dark');
@include svg-color('green', '', 'light', 'lighter');
@include svg-color('red', '', 'light', 'lighter');
@include svg-color('blue', '', 'light', 'lighter');
@include svg-color('yellow', '', 'light', 'lighter');
@include svg-color('purple', '', 'light', 'lighter');
@include setColorSvg('fill', 'neutral', 'default', 'light', 'dark', 'darker');
@include setColorSvg('stroke', 'neutral', 'default', 'light', 'dark', 'darker');
@include setColorSvg('fill', 'white', '');
@include setColorSvg('stroke', 'white', '');
@include setColorSvg('stroke', 'black', '');


.bkt-fill-body {
    fill: $body-bg;
}
.bkt-stroke-body {
    stroke: $body-bg;
}

.bkt-rotate-270 {
    transform: rotate(270deg);
}
.bkt-rotate-180 {
    transform: rotate(180deg);
}
.bkt-rotate-90 {
    transform: rotate(90deg);
}
