@include svg-color('main', '', 'light', 'lighter');
@include svg-color('primary', '', 'light', 'lighter', 'dark');
@include svg-color('green', '', 'light', 'lighter');
@include svg-color('red', '', 'light', 'lighter');
@include svg-color('blue', '', 'light', 'lighter');
@include svg-color('yellow', '', 'light', 'lighter');
@include svg-color('purple', '', 'light', 'lighter');
@include svg-color('pink', '', 'light', 'lighter');
@include svg-color('orange', '', 'lighter');
@include svg-color('teal', '', 'lighter');
@include setColorSvg('fill', 'neutral', 'default','lighter', 'light', 'dark', 'darker');
@include setColorSvg('stroke', 'neutral', 'default', 'lighter','light', 'dark', 'darker');
@include setColorSvg('fill', 'white', '');
@include setColorSvg('stroke', 'white', '');
@include setColorSvg('stroke', 'black', '');


.bkt-fill-body {
    fill: $body-bg;
}
.bkt-stroke-body {
    stroke: $body-bg;
}

.bkt-rotate-270 {
    transform: rotate(270deg);
}
.bkt-rotate-180 {
    transform: rotate(180deg);
}
.bkt-rotate-90 {
    transform: rotate(90deg) !important;
}
.bkt-mirror-vertical {
    transform: scale(-1 , 1)
}
.bkt-mirror-horizontal {
    transform: scale(1, -1)
}
