@include setColor('color', 'text', 'main', 'default', 'light');
@include setColor('color', 'text', 'primary', 'default', 'light', 'lighter', 'dark');
@include setColor('color', 'text', 'green', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'red', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'blue', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'yellow', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'purple', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'pink', 'default', 'light', 'lighter');
@include setColor('color', 'text', 'orange', 'default', 'lighter');
@include setColor('color', 'text', 'teal', 'default', 'lighter');
@include setColor('color', 'text', 'neutral', 'default', 'light', 'lighter','dark', 'darker');

.bkt-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
