.bkt-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    margin: auto;
}

.bkt-wrapper-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
}

.bkt-wrapper-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    width: 100%;
}

.bkt-wrapper-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 10px 0;
}

.bkt-wrapper-column-reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
}

.bkt-nowrap {
    flex-wrap: nowrap !important;
}

.wrapper {
    min-height: calc(100vh - 100px);
}


@media (min-width: 576px) {
    .bkt-wrapper-up-sm {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
}

@media (min-width: 768px) {
    .bkt-wrapper-up-md {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
}

@media (min-width: 992px) {
    .bkt-wrapper-up-lg {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
}

@media (min-width: 1200px) {

}

@media (max-width: 576px) {
    .bkt-wrapper-down-sm {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
    .wrapper {
        min-height: calc(100vh - 150px);
    }
}

@media (max-width: 768px) {
    .bkt-wrapper-down-md {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
}

@media (max-width: 992px) {
    .bkt-wrapper-down-lg {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: row wrap;

        &-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-flow: row wrap;
        }

        &-column {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            gap: 10px 0;
        }

        &-column-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            width: 100%;
        }

        &-nowrap {
            flex-wrap: nowrap;
        }
    }
}
