// Body
$body-bg: #f5f7fe;

// Typography
$font-family-sans-serif: "Gilroy", sans-serif;
$font-family-extra-bold: "Gilroy", extra-bold;
$font-family-light: "Gilroy", light;
$font-size-base: 14px;
$line-height-base: 1.6;

//38 30 22 18 14 12
$font-size-38: 38px;
$font-size-30: 30px;
$font-size-22: 22px;
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-12: 12px;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;


//Main theme
$main-dark: #13161d;
$main-default: #2d3244;
$main-light: #373c4d;

// Primary
$primary-dark: #2953ff;
$primary-default: #2953ff;
$primary-light: #29b1ff;
$primary-lighter: #eef2ff;

// Red
$red-dark: #ac3f28;
$red-default: #ec4c27;
$red-light: #ec4c27;
$red-lighter: #fef1ee;

//Green
$green-dark: #2fbb40;
$green-default: #2fbb40;
$green-light: #42c052;
$green-lighter: #2fbb40;

//Yellow
$yellow-dark: #ffc515;
$yellow-default: #ffc515;
$yellow-light: #ffd863;
$yellow: #f8e8b8;
$yellow-lighter: #fff9e7;


//Blue
$blue-default: #29b1ff;
$blue-light: #50bfff;
$blue-lighter: #eef9ff;

// Neutral
$neutral-darker: #a7a7a7;
$neutral-dark: #abadb4;
$neutral-default: #cdced2;
$neutral-light: #f4f5f5;

//Purple
$purple-default: #ff41be;
$purple-light: #ff48c0;
$purple-lighter: #fff0fa;


$theme-colors: (
    "body-bg": #f5f7fe,
    //Main theme
    "main-dark": #13161d,
    "main-default": #2d3244,
    "main-light": #373c4d,
    // Primary
    "primary-dark": #2953ff,
    "primary-default": #2953ff,
    "primary-light": #29b1ff,
    "primary-lighter": #eef2ff,
    // Red
    "red-dark": #ac3f28,
    "red-default": #ec4c27,
    "red-light": #ec4c27,
    "red-lighter": #fef1ee,
    //Green
    "green-dark": #2fbb40,
    "green-default": #2fbb40,
    "green-light": #42c052,
    "green-lighter": #2fbb40,
    //Yellow
    "yellow-dark": #ffc515,
    "yellow-default": #ffc515,
    "yellow-light": #ffd863,
    "yellow": #f8e8b8,
    "yellow-lighter": #fff9e7,
    //Blue
    "blue-default": #29b1ff,
    "blue-light": #50bfff,
    "blue-lighter": #eef9ff,
    // Neutral
    "neutral-darker": #a7a7a7,
    "neutral-dark": #abadb4,
    "neutral-default": #cdced2,
    "neutral-light": #f4f5f5,
    //Purple
    "purple-default": #ff41be,
    "purple-light": #ff48c0,
    "purple-lighter": #fff0fa,
);

$breadcrumb-divider: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%0Afill='%23abadb4' stroke='%23abadb4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-more-horizontal'%3E%3Ccircle cx='12' cy='12' r='1'%3E%3C/circle%3E%3Ccircle cx='19' cy='12' r='1'%3E%3C/circle%3E%3Ccircle cx='5' cy='12' r='1'%3E%3C/circle%3E%3C/svg%3E");
