// Fonts
@import "./base/fonts.scss";

 //Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import 'variables';
@import 'functions';
@import 'mixins';


//Base
@import "./base/text.scss";
@import "./base/background.scss";
@import "./base/border.scss";
@import "./base/svg.scss";
@import "./base/hover.scss";
@import "./base/wrapper.scss";
@import "./base/gap.scss";
@import "./base/width.scss";
@import './base/container';
@import './base/display';

// Components
@import './components/skeleton.scss';
@import "./components/navbar.scss";
@import './components/button.scss';
@import './components/card.scss';
@import './components/select.scss';
@import './components/modal.scss';
@import './components/search.scss';
@import './components/input.scss';
@import './components/checkbox.scss';
@import './components/pagination.scss';
@import './components/row.scss';
@import './components/breadcrumb.scss';
@import './components/datepicker.scss';
@import './components/form.scss';
@import './components/sidebar.scss';
@import "./components/footer.scss";
@import "./components/page.scss";
@import "./components/table.scss";
@import "./components/icon-frame.scss";
@import "./components/collapse.scss";
@import "./components/tag.scss";
@import "./components/switch.scss";
@import "./components/dropdown.scss";
@import "./components/notification.scss";
@import "./components/shadow-card.scss";
@import "./components/trade-card.scss";
@import "./components/badge.scss";
@import "./components/nprogress.scss";

// Custom styles
@import "./customs/main.scss";
@import "./customs/auth-modal.scss";
@import "./customs/code-modal.scss";
@import "./customs/category-modal.scss";
@import "./customs/filters-modal";
@import "./customs/contents.scss";
@import "./customs/lot-card.scss";
@import "./customs/region-modal.scss";
@import "./customs/registries.scss";
@import "./customs/registry.scss";
@import "./customs/profile.scss";
@import "./customs/promo.scss";
@import "./customs/tariffs.scss";
@import "./customs/favourites.scss";
@import "./customs/auctions.scss";
@import "./customs/messages.scss";
@import "./customs/calendar.scss";
@import "./customs/monitoring.scss";
@import "./customs/collections.scss";
@import "./customs/monitoring-modal.scss";
@import "./customs/purchase-modal.scss";
@import "./customs/orders.scss";



body {
    background: $body-bg;
    margin: 0;
    font-family: $font-family-sans-serif;
    font-weight: 400;
}


h1 {
    font-size: $font-size-38;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: $font-size-30;
    margin-bottom: 0;
}
h3 {
    font-size:  $font-size-22;
    margin-bottom: 0;
}
h4 {
    font-size: $font-size-18;
    margin-bottom: 0;
}
h5 {
    font-size: $font-size-14;
    margin-bottom: 0;
}
h6 {
    font-size: $font-size-12;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $main-default;
}
a:hover {
    color: inherit;
}

* {
    outline: none;
    box-shadow: none;
}
*:focus {
    outline: none;
    box-shadow: none;
}
*:focus-visible {
    outline: none;
    box-shadow: none;
}

.bkt-cursor-auto {
    cursor: auto !important;
}
.bkt-cursor-pointer {
    cursor: pointer;
}

.fade-enter-active,
.fade-leave-active
{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.fade-enter-to,
.fade-leave-from {
    transition: opacity 0.5s ease-in;
    opacity: 0.9;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
