.bkt-auctions {
    gap: 40px;
    display: flex;
    flex-direction: column;

    &__filters {
        &-header {
            gap: 10px;
            display: flex;
            flex-wrap: nowrap;

            & .bkt-button {
                width: 110px;
                height: 70px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-content {
            gap: 20px;
            display: flex;
            flex-direction: column;
        }

        &-footer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }

        &-checkboxes {
            display: flex;
            align-items: center;
            gap: 40px;
            & .bkt-check__wrapper {
              margin-bottom: 0;
            }
            & .bkt-check__label {
                font-size: 14px;
            }
        }

        &-switch {
            gap: 10px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            &-label {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &__find {
        padding: 22px;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: "Gilroy";
        color: rgb(45, 50, 68);
        text-transform: uppercase;
        line-height: 1.833;
        gap: 6px;
    }

    & .bkt-auctions-types {
        & .bkt-auctions-type {
            text-align: center;

            & .bkt-auctions-type__card {
                padding: 26px;
                border-radius: 25px;
                width: 258px;
            }

            & .bkt-auctions-type__title {
                font-size: 16px;
                font-weight: 700;
                color: $main-default;
            }

            & .bkt-auctions-type__subtitle {
                font-size: 12px;
                text-decoration: underline;
                color: $main-default;
            }
        }
    }

    & .bkt-button_delete {
        width: 70px;
        height: 70px;
        padding: 23px;
        background: $red-lighter;
    }
}

@media screen and (max-width: 576px) {
    .bkt-auctions {
        &__filters {
            &-footer {
                padding-top: 0 !important;
            }

            &-switch {
                padding: 0 17px;
            }
            &-checkboxes {
                gap: 25px;
            }
        }
        &__find {
            padding: 11px;
            font-size: 10px;
            gap: 6px;
            border-radius: 13px;
        }
    }
}

@media screen and (max-width: 768px) {
    .bkt-auctions {
        & .bkt-auctions-types {
            & .bkt-auctions-type {
                display: flex;
                flex-direction: column;
                flex: 1;
                width: 100%;
                gap: 8px;

                & .bkt-auctions-type__card {
                    width: 100%;
                    padding: 9px;
                    border-radius: 13px;
                }

                & .bkt-auctions-type__title {
                    font-size: 12px;
                }

                & .bkt-auctions-type__subtitle {
                    font-size: 8px;
                }
            }
        }

        & .bkt-button_delete {
            border-radius: 18px;
            width: 54px;
            height: 54px;
            padding: 16px;
        }
    }
}

@media screen and (max-width: 990px) {
    .bkt-auctions {
        &__filters {
            &-header {
                gap: 10px;
                display: flex;
                flex-wrap: nowrap;

                & .bkt-button {
                    width: 110px;
                    height: 70px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-content {
                gap: 20px;
                display: flex;
                flex-direction: column;
            }

            &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                padding-top: 0 !important;
            }

            &-checkboxes {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 100%;
                & .bkt-check__label {
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            &-switch {
                gap: 10px;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                justify-content: center;

                &-label {
                    font-size: 10px;
                    font-family: "Gilroy";
                    color: rgb(45, 50, 68);
                    line-height: 1.4;
                }
            }

            &-card {
                border-radius: 18px;
                height: 64px;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 10px 19px 10px 10px;
                cursor: pointer;

                &-header {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 12px;

                    & .bkt-badge {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .bkt-auctions {
        & .bkt-auctions-types {
            & .bkt-auctions-type {
                & .bkt-auctions-type__card {
                    width: 100%;
                }
            }
        }
    }
}
