.bkt-bot-body {
    background: var(--tg-theme-bg-color, #f5f7fe);
    //color: var(--tg-theme-text-color);
}
.bkt-bot {
    &__header {
        .bkt-navbar {
            background: var(--tg-theme-secondary-bg-color, #fff);
        }
    }

    &__body {

    }

    &__footer {

    }

    @media screen and (max-width: 568px) {
        & .bkt-main-categories .bkt-card__row {
            border-radius: 12px;
            padding: 16px;
            & .bkt-card__category {
                width: 32px;
                border-radius: 6px;
                margin: 0 !important;
            }
        }
    }
}
