.bkt-bot-body {
    background: var(--tg-theme-secondary-bg-color, #f5f7fe);
    //color: var(--tg-theme-text-color);
}
.bkt-bot {
    &__header {
        .bkt-navbar {
            background: var(--tg-theme-bg-color, #fff);
        }
    }

    &.dark {
        color: #7984ae;

        & a {
            color: #7984ae;
        }

        & ul.bkt-contents {
            & li span {
                background-color: var(--tg-theme-bg-color, #fff);
            }

            & li {
                border-bottom: 2px dotted rgba(121, 132, 174, 0.6);
            }

            & .bkt-contents {
                &__answer {
                    color: #5f6c9a;
                }

                &__heading {
                    color: #7984ae;
                }
            }
        }


        & .bkt-sidebar__header {
            background: var(--tg-theme-bg-color, #2d3244);
        }
        & .offcanvas {
            background-color: var(--tg-theme-secondary-bg-color, #fff);
        }
        & .bkt-card {
            background: var(--tg-theme-bg-color, #fff);
            color: #7984ae;
            &__row {
                background: var(--tg-theme-bg-color, #fff);
            }
            &__title {
                color: #5f6c9a;
            }
            &__text {
                color: #7984ae; //#9799a0;
            }
            &-trade__price-info {
                background: #38415f !important;
            }
        }
        & .bkt-lot {
            &-trade__price-info {
                background: var(--tg-theme-bg-color, #fff) !important;
            }
        }
        & .bkt-collapse__title {
            color: #5f6c9a;
        }
        & .bkt-modal {
            & .bkt-modal-header .bkt-close-button {
                background: var(--tg-theme-bg-color, #f5f7fe);
            }
            & .bkt-modal-content  {
                background: var(--tg-theme-bg-color, #fff);
            }
            &__title {
                color: #5f6c9a !important;
            }
            &__text {
                color: #7984ae !important;
            }
        }

        & .bkt-shadow-card_white .bkt-shadow-card__shadow-1 {
            background: var(--tg-theme-bg-color, #fff);
        }

        & .bkt-lot__card .bkt-platform-button
        {
            &-title {
                color: #5f6c9a;
            }
            &-subtitle {
                color: #7984ae;
            }
        }
        & .bkt-lot-tasks .bkt-card__header {
            border-bottom: none;
        }
        & .bkt-tariffs__button {
            box-shadow: none;
        }

        & .bkt-form__label {
            color: #7984ae;
        }
        & .bkt-input {
            color: #7984ae;
        }
        & .bkt-input, .bkt-input__group {
            background: #3b425d;
        }
        .bkt-search {
            background-color: #3b425d !important;
        }
        & .bkt-filters-modal .bkt-auctions-types .bkt-auctions-type .bkt-auctions-type{
            &__title {

            }
            &__card {
                background: #698cb9 !important;
            }
        }
    }
    &__body {

    }

    &__footer {

    }

    @media screen and (max-width: 568px) {
        & .bkt-main-categories .bkt-card__row {
            border-radius: 12px;
            padding: 16px;
            & .bkt-card__category {
                width: 32px;
                border-radius: 6px;
                margin: 0 !important;
            }
        }
    }
}
