.bkt-calendar {
    font-family: 'Gilroy', sans-serif;

    &-checkboxes {
        background: white;
        border-radius: 15px;
        //height: 100%;

        & .events_check input:checked ~ .bkt-check__input-check {
            background: $red-default;
            box-shadow: 0 3px 10px 0 rgba(236, 76, 39, 0.53);
        }

        & .tasks_check input:checked ~ .bkt-check__input-check {
            background: $green-default;
            box-shadow: 0 3px 10px 0 rgba(47, 187, 64, 0.53);
        }

        & .reminders_check input:checked ~ .bkt-check__input-check {
            background: $blue-default;
            box-shadow: 0 3px 10px 0 rgba(41, 177, 255, 0.53);
        }
    }

    & .custom-calendar.vc-container {
        --day-border: 2px solid #F5F7FE;
        --day-border-highlight: 1px solid #b8c2cc;
        --day-width: 100%;
        --day-height: 100%;
        --weekday-bg: #f8fafc;
        --weekday-border: 2px solid #F5F7FE;
        border-radius: 15px;
        width: 100%;
        background: transparent;

        & .vc-header {
            padding: 0 0 12px 0;
            font-family: 'Gilroy', sans-serif;
            & .vc-title {
                font-family: "Gilroy", sans-serif;
                font-size: 14px;
                line-height: 14px;

                &-wrapper {
                    padding: 12px 20px;
                    background-color: white;
                    border-radius: 10px;
                    height: 40px;
                    max-width: calc(100% - 88px);
                    width: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        & .vc-arrows-container {
            padding: 0 0 12px 0;

            & div {
                border-radius: 10px;
                background-color: white;
                width: 40px;
                height: 40px;
                border: none !important;

                & .vc-svg-icon path {
                    fill: $primary-default;
                }
            }
        }

        & .vc-weeks {
            border-radius: 15px;
            padding: 0;
            & .vc-weekday {
                // padding: 1rem;
                font-family: 'Gilroy', sans-serif;
            }

            & .vc-day {
                min-height: 90px;
                max-height: 90px;
                max-width: 123px;
                font-family: 'Gilroy', sans-serif;
            }

            & .vc-day.in-prev-month, & .vc-day.in-next-month {
                background: #fafbff;
            }

            & .in-prev-month, & .in-next-month {
                div {
                    opacity: 1;
                    color: #d7d7d7;
                }
            }
        }

        & .vc-day-layer {
            //display: none;
        }

        & .vc-weekday {
            color: $primary;
            //background-color: var(--weekday-bg);
            border: none;
            //border-right: var(--weekday-border);
            //border-top: var(--weekday-border);
            padding: 5px 0;
            font-family: 'Gilroy', sans-serif;
        }

        & .vc-grid-cell:last-child > .vc-weekday {
            border-right: none;
        }

        & .vc-day.is-today.in-month {
            border: 2px solid $primary;
        }

        & .vc-grid-container.grid {
            border-radius: 15px;
        }

        & .vc-grid-container.vc-weeks {
            padding: 0;
            gap: 2px !important;
            //border-radius: 13px;
            grid-template-columns: repeat(7, minmax(0px, 122px)) !important;

            & .vc-grid-cell {
                background: white;
            }
        }

        & .vc-grid-cell.is-today {
            background: $primary-default !important;

            .vc-weekday {
                color: white !important
            }
        }

        $weekdays: 1, 2, 3, 4, 5, 6;
        @each $weekday in $weekdays {
            &.is-today-#{$weekday} {
                & .vc-grid-cell-col-#{$weekday} > .vc-weekday {
                    background: $primary;
                    color: white !important
                }
            }
        }

        &.is-today-0 {
            & .vc-grid-cell-col-7 > .vc-weekday {
                background: $primary;
                color: white !important
            }
        }

        & .vc-day {
            padding: 0 5px 3px 5px;
            text-align: left;
            height: var(--day-height);
            min-width: var(--day-width);
            background-color: white;

            & .weekday-1,
            & .weekday-7 {
                background-color: #eff8ff;
            }

            &:not(.on-bottom) {
                border-bottom: var(--day-border);

                & .weekday-1 {
                    border-bottom: var(--day-border-highlight);
                }

            }

            &:not(.on-right) {
                border-right: var(--day-border);
            }

            &:not(.in-next-month):hover {
                box-shadow: 0px 7px 20px 0px rgba(45, 50, 68, 0.15);
                z-index: 2;
            }

        }
    }

    & .bkt-left-calendar.vc-container {
        --day-content-bg-color-hover: transparent;
        --dot-diameter: 6px;
        --day-content-bg-color-focus: transparent;
        --dot-spacing: 2px;
        --dot-border-radius: 6px;
        border-radius: 15px;

        & .vc-grid-container {
            overflow: hidden;

            &.grid {
                grid-template-columns: repeat(1, minmax(100px, 100%));
            }
        }


        & .vc-popover-content-wrapper {
            display: none !important;
        }

        & .vc-header {
            padding-top: 12px;
            padding-right: 12px;
            padding-left: 12px;

            & .vc-title {
                font-family: "Gilroy", sans-serif;
                font-size: 14px;
                line-height: 14px;

                &-wrapper {
                    padding: 12px 20px;
                    background-color: $body-bg;
                    border-radius: 10px;
                    height: 40px;
                    max-width: calc(100% - 88px);
                    width: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        & .vc-arrows-container {
            padding-top: 12px;
            padding-right: 12px;
            padding-left: 12px;

            & div {
                border-radius: 10px;
                background-color: $body-bg;
                width: 40px;
                height: 40px;
                border: none !important;

                & .vc-svg-icon path {
                    fill: $primary-default;
                }
            }
        }

        & .vc-weeks {
            & .in-prev-month, & .in-next-month {
                div {
                    opacity: 1;
                    color: #d7d7d7;
                }
            }
        }

        & .vc-day {
            &-content {
                align-items: flex-start;
            }

            &:not(.in-next-month):hover {
                box-shadow: 0px 7px 20px 0px rgba(45, 50, 68, 0.25);
                z-index: 2;

                & .vc-day-content {
                    color: $primary-default;
                }
            }
        }

        & .vc-bg-green-600 {
            background: $green-dark !important;
        }

        & .vc-bg-blue-600 {
            background: $blue-default !important;
        }

        & .vc-bg-red-600 {
            background: $red-default !important;
        }
    }

    &__day {
        font-family: 'Gilroy', sans-serif;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 10;
        height: 100%;

        &-events {
            gap: 4px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: $primary-default #e9f3fc;

            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary-default;
                border-radius: 2px;
            }

        }

        &-event {
            font-family: Gilroy, sans-serif;
            border-radius: 9px;
            font-size: 11px;
            text-transform: lowercase;
            line-height: 11px !important;
            padding: 5px 8px;
            color: white;
            height: 18px;
            max-width: 92px;
            flex-shrink: 0;
        }

        &-label {
            font-size: 14px;
            font-family: Gilroy, sans-serif;
            color: rgb(45, 50, 68);
            line-height: 1.2;
        }
    }

    &__event {
        &-type {
            font-size: 11px;
            line-height: 11px;
            font-weight: 500;
            font-family: 'Gilroy', sans-serif;
            padding: 5px;
            border-radius: 9px;
            color: white;
            text-transform: lowercase;
            width: fit-content;
        }

        &__text {
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            font-family: 'Gilroy', sans-serif;
        }

        &s {
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-height: 222px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: $primary-default #e9f3fc;

            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary-default;
                border-radius: 2px;
            }
        }

        .bkt-calendar__events & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 8px;

            &-wrapper {
                display: flex;
                padding: 20px;
                background: transparent;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
        }
    }
}

.v-popper--theme-bkt {
    & .v-popper__inner {
        @extend .bkt-popover;
    }

    & .v-popper__arrow-outer {
        border-color: $primary-lighter;
    }

    & .v-popper__arrow-inner {
        visibility: hidden;
    }
}

.bkt-popover {
    background: $primary-lighter !important;
    border: none !important;
    color: $main-dark !important;
    //box-shadow: none;
    max-width: 270px;
    width: 100% !important;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 29px 20px 0px rgba(45, 50, 68, 0.18);
    z-index: 3 !important;

    &__status {
        font-size: 11px;
        line-height: 11px;
        font-weight: 500;
        font-family: 'Gilroy', sans-serif;
        padding: 5px;
        border-radius: 9px;
        color: white;
        text-transform: lowercase;
        width: fit-content;
    }

    &__text {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        font-family: 'Gilroy', sans-serif;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &.dropdown-position-bottom:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $primary-lighter;
        top: -6px;
        left: calc(50% - #{6px});
        filter: drop-shadow(0px -2px 2px rgba(52, 73, 94, 0.1));
    }

    &.dropdown-position-top:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $primary-lighter;
        bottom: -6px;
        left: calc(50% - #{6px});
        filter: drop-shadow(0px 2px 2px rgba(52, 73, 94, 0.1));
    }

    &.dropdown-position-left:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $primary-lighter;
        right: -6px;
        top: calc(50% - #{6px});
        filter: drop-shadow(2px 0px 2px rgba(52, 73, 94, 0.1));
    }

    &.dropdown-position-right:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid $primary-lighter;
        left: -6px;
        top: calc(50% - #{6px});
        filter: drop-shadow(-2px 0px 2px rgba(52, 73, 94, 0.1));
    }
}

@media (max-width: 576px) {
    .bkt-calendar {
        & .bkt-form > * {
            padding: 0;
        }

        &-checkboxes {
            background: transparent;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
        }

        & .bkt-month-calendar {
            background: transparent;
        }

        & .bkt-left-calendar.vc-container {
            font-family: 'Gilroy', sans-serif;
            --day-min-height: 38px;
            --day-content-width: 34px;
            --day-content-height: 100%;
            background-color: transparent !important;

            %is-today-weekday {
                background: $primary;
                color: white !important
            }

            $weekdays: 1, 2, 3, 4, 5, 6;
            @each $weekday in $weekdays {
                &.is-today-#{$weekday} {
                    & .vc-grid-cell-col-#{$weekday} > .vc-weekday {
                        @extend %is-today-weekday;
                    }
                }
            }

            &.is-today-0 {
                & .vc-grid-cell-col-7 > .vc-weekday {
                    @extend %is-today-weekday;
                }
            }

            & .vc-pane {
                gap: 15px;
            }

            & .vc-header {
                padding: 0;

                & .vc-title {
                    font-size: 12px;
                    line-height: 12px;

                    &-wrapper {
                        padding: 19px 30px;
                        background-color: rgb(255, 255, 255);
                        border-radius: 13px;
                        height: 50px;
                        max-width: calc(100% - 108px);
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

            }

            & .vc-arrows-container {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;

                & div {
                    border-radius: 13px;
                    background-color: rgb(255, 255, 255);
                    width: 50px;
                    height: 50px;

                    & .vc-svg-icon path {
                        fill: $primary-default;
                    }
                }
            }

            & .vc-grid {
                &-container.vc-weeks {
                    padding: 0;
                    gap: 2px !important;
                    border-radius: 13px;

                    & .vc-grid-cell {
                        background: white;
                    }
                }

                &-cell.is-today {
                    background: $primary-default;

                    & .vc-weekday {
                        color: white !important
                    }
                }
            }

            & .vc-weekday {
                font-size: 12px;
                color: $primary-default;
            }

            & .vc-day {
                &.is-today.in-month {
                    border: 2px solid $primary-default;
                }

                &-layer {
                    bottom: 8px;
                }

                &-content {
                    font-size: 12px;
                    font-family: Gilroy, sans-serif;
                }
            }
        }

        &__event {
            &-type {
                font-size: 8px;
                line-height: 8px;
                padding: 4px 8px;
                border-radius: 8px;
            }

            &-text {
                font-size: 12px;
                line-height: 12px;
            }

            &s {
                max-height: 100%;
            }

            .bkt-calendar__events & {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 12px;

                &-wrapper {
                    border: 2px solid #ebedf5 !important;
                }
            }
        }

        & .bkt-calendar__date {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            font-family: "Gilroy", sans-serif;
        }
    }
}
