.bkt-favourites {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__filters {
        border-width: 2px;
        border-color: rgb(41, 83, 255, 0.039);
        border-style: solid;
        border-radius: 25px;
        min-height: 86px;
        padding: 20px;
        gap: 10px;

        &-action {
            background-color: white;
            color: $main-default;
            font-size: 12px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 6px;
            border-radius: 15px;
            min-height: 50px;
            min-width: 50px;
        }

        &-card {
            padding: 20px;
        }
    }

    &__paths-list {
        & .bkt-favourites__path {
            margin-right: 10px;
        }

        & .bkt-favourites__path-collapse {
            background-color: transparent;
            gap: 10px;
            & .bkt-collapse__header {
                text-transform: uppercase;
                color: white;
                text-align: center;
                padding: 5px;
                border-radius: 13px;
                min-height: 44px;
            }

            & .bkt-collapse__body {
                background-color: transparent;
                padding: 0;
                row-gap: 10px;
            }
        }
    }

    & .bkt-search {
        background-color: white;
    }

    & .bkt-search__input {
        background-color: transparent;
    }

    & .bkt-select__wrapper {

        & .bkt-select {
            background-color: white; //#f5f7fe;
        }
    }
}

@media (max-width: 576px) {
    .bkt-favourites {
        gap: 15px;

        &__filters {
            border: none;
            padding: 0;
            gap: 10px;

            &-inner {
                padding: 15px 12px;
                border-width: 2px;
                border-color: rgb(41, 83, 255, 0.039);
                border-style: solid;
                border-radius: 18px;
            }

            &-action {
                border-radius: 12px;
                padding: 15px;
                height: 47px;
                width: 47px;
                min-height: 47px;
                min-width: 47px;
            }

            &-card {
                padding: 25px;
                gap: 25px;
                background-color: white;
                border-radius: 18px;
                & .bkt-select__wrapper {
                    & .bkt-v-select .vs__dropdown-toggle {
                        background-color: $body-bg;
                    }
                }
            }
        }

        & .bkt-search {
            background-color: $body-bg;
        }

        & .bkt-search__button {
            min-width: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px;
        }

    }
}

.bkt-cursor-pointer {
    cursor: pointer;
}

/*AddFieldsToDocument*/

.bkt-fields-document-modal {

    & .bkt-check__label {
        font-size: 14px;
    }

    & .modal-dialog {
        min-width: 40%;

        .bkt-modal-wrapper {
            width: 100%;
        }
    }

    & .bkt-fields-actions {
        margin-bottom: 40px;
    }

    & .bkt-fields-action {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
    }

    @media (max-width: 576px) {
        & .bkt-check__label {
            font-size: 12px;
        }
        & .bkt-fields-action {
            font-size: 12px;
        }
        & .bkt-fields-actions {
            margin-bottom: 20px;
        }
        .bkt-modal-save {
            width: 100%;
        }
    }
}

/*AddFolder*/

.bkt-folder-modal {

    & .modal-dialog {
        min-width: 35%;

        .bkt-modal-wrapper {
            width: 100%;
        }
    }

    & .bkt-folder-field {
        &__input {
            height: 70px;
        }

        &__tabs {
            display: flex;

            & button {
                width: 100%;
            }
        }
    }

    & label {
        font-weight: 700;
    }

    .bkt-user {
        .bkt-check {
            margin-bottom: 0.3rem;
        }

        .bkt-check__input {
            width: 35px;
            height: 35px;
        }

        .bkt-check__label {
            font-weight: 100;
        }
    }

    @media (max-width: 576px) {
        * {
            font-size: 12px;
        }
        .bkt-folder-field {
            &__input {
                height: 52px;
            }

            &__tabs {
                height: 42px;
                display: flex;
                align-items: center;

                button {
                    height: 34px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
