.bkt-filters-modal {
    & .bkt-auctions-types {
        & .bkt-auctions-type {
            text-align: center;
            & .bkt-auctions-type__card {
                padding: 26px;
                border-radius:25px;
                width: 258px;
            }
            & .bkt-auctions-type__title
            {
                font-size: 16px;
                font-weight: 700;
                color: $main-default;
            }
            & .bkt-auctions-type__subtitle
            {
                font-size: 12px;
                text-decoration: underline;
                color: $main-default;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .bkt-filters-modal {
        & .modal-dialog {
            margin: 20% auto auto auto;
        }

        & .bkt-auctions-types {

            & .bkt-auctions-type{
                display: flex;
                flex-direction: column;
                flex: 1;
                width:100%;
                gap: 8px;
                & .bkt-auctions-type__card {
                    width:100%;
                    padding: 9px;
                    border-radius:13px;
                }
                & .bkt-auctions-type__title
                {
                    font-size: 12px;
                }
                & .bkt-auctions-type__subtitle
                {
                    font-size: 8px;
                }
            }
        }
    }
}

@media (min-width: 902px) {
    .bkt-filters-modal {
        & .modal-dialog {
            max-width: 650px;
            margin: 1.75rem auto;
        }
    }
}

@media (min-width: 1200px) {
    .bkt-filters-modal {
        & .modal-dialog {
            max-width: 770px;
            margin: 1.75rem auto;
        }
    }
}
@media (max-width: 1200px) {
    .bkt-filters-modal {
        & .bkt-auctions-types {
            & .bkt-auctions-type {
                & .bkt-auctions-type__card {
                    width: 100%;
                }
            }
        }
    }
}
