.bkt-profile {
    margin: 60px auto;

    .bkt-profile-gap {
        gap: 15px 0;
    }

    & .bkt-profile-tariff {
        padding: 25px;
        text-align: center;
        margin-bottom: 14px;

        & .bkt-card__subtitle {
            color: rgba(255, 255, 255, 0.6);
        }

        & .bkt-card__title {
            font-size: 16px;
            color: white;
        }

        & .bkt-card__background-figure-1 {
            position: absolute;
            margin: auto;
            top: 7px;
            width: 92%;
            height: 100%;
            z-index: -1;
            left: 4.5%;
            right: 4.5%;
            background: #b8c6fe;
        }

        & .bkt-card__background-figure-2 {
            position: absolute;
            margin: auto;
            top: 14px;
            width: 81%;
            height: 100%;
            z-index: -2;
            opacity: 0.15;
            left: 10.2%;
            right: 10.2%;
        }
    }

    & .bkt-tariff-button {
        font-size: 16px;
        font-family: "Gilroy";
        color: rgb(45, 50, 68);
        font-weight: 700;
        border-radius: 25px;
        background: rgb(255, 197, 21);
        min-height: 70px;
        padding: 26px 35px;
    }

    & .bkt-sidebar {
        padding: 20px;
    }

    & .bkt-button_save {
        height: 54px;
        font-size: 12px;
        margin-left: auto;
    }

    & .bkt-button_delete {
        width: 54px;
        height: 54px;
        padding: 18px;

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    & .bkt-notifications-card {
        background: $white;
        padding: 25px 40px;
        border-radius: 25px;
    }
}

@media (max-width: 576px) {
    .bkt-profile {

        & .bkt-sidebar {
            padding: 9px;

            & .bkt-sidebar__links {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                margin-bottom: 0;

                & .bkt-sidebar__link {
                    padding: 6px;
                    border-radius: 13px;
                    gap: 4px;

                    & .bkt-sidebar__link-icon {
                        width: 30px;
                        height: 30px;
                        padding: 8px;
                    }

                    & .bkt-sidebar__link-label {
                        font-size: 12px;
                    }
                }
            }
        }

        & .bkt-profile-tariff {
            background-color: transparent !important;
            border: 2px solid #e5eafe;
            margin-bottom: 0;

            & .bkt-card__subtitle {
                color: $main-default;
                font-size: 10px;
            }

            & .bkt-card__title {
                font-size: 12px;
                color: $primary-default;
            }

            & .bkt-card__background-figure-1 {
                display: none;
            }

            & .bkt-card__background-figure-2 {
                display: none;
            }
        }

        & .bkt-tariff-button {
            font-size: 12px;
            border-radius: 13px;
            min-height: 44px;
            padding: 15px 35px;
        }

        & .bkt-card {
            border-radius: 18px;
        }

        & .bkt-notifications-card {
            padding: 25px;
            border-radius: 18px;

            & .bkt-card__title {
                font-size: 14px;
            }

            & .bkt-card__subtitle {
                font-size: 10px;
            }

            & .bkt-button-icon {
                width: 14px;
                height: 14px;
                padding: 0;
            }
        }

    }
}

@media (max-width: 992px) {
    .bkt-profile {
        .bkt-profile-gap {
            gap: 15px !important;
        }
    }
}
