.bkt-register {

    & .bkt-register-collapse {
        background-color: rgb(255, 255, 255);
        padding: 25px 40px;
        border-radius: 25px;
        &__header {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &__title {
            font-weight: 700;
            font-size: 18px;
        }
    }

    & .bkt-bg-light-gray {
        background: rgb(244, 247, 254) !important;
    }

    &__title {
        margin-bottom: 50px;
        margin-top: 50px;

        & span {
            font-weight: 800;
            font-size: 30px;
        }
    }

    & .bkt-item-rounded {
        border-radius: 10px;
    }

    & .bkt-button-register {
        &:after {

        }
    }

    & .bkt-register-filters {
        & .bkt-search {
            background: rgb(244, 247, 254) !important;
        }

        & .bkt-search__input {
            background: none;
        }
    }

    & .bkt-select-register {
        height: 35px !important;
    }

    & .bkt-select__subtitle {
        color: rgb(180, 183, 190) !important;
    }

    & .bkt-region__item {
        background-color: rgb(224, 230, 254);
    }
    & .pagination {
        & .page-item {
            font-size: 15px;

            &__num a {
                margin-right: 5px;
                background-color: rgb(244, 247, 254);
                color: rgb(42, 45, 54);
                border-radius: 10px;
                width: 50px;
                height: 50px;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            &__num.active .page-link {
                background-color: rgb(41, 83, 253);
                color: white;
            }
        }

        & .page-link {
            border: none;
        }
    }
}

@media (max-width: 576px) {
    .bkt-register {
        & .bkt-register-filters {
            flex-wrap: wrap;
        }

        & .bkt-pagination-items {
            order: 1;
        }

        & .pagination {
            .page-item__num a {
                width: 40px;
                height: 40px;
            }
        }

        //* {
        //    font-size: 12px;
        //}

        & .bkt-register-collapse {
            padding: 10px;
            border-radius: 18px;
            &__header {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            &__title {
                font-size: 12px;
            }
        }
    }

}

