.bkt-register {

    & .bkt-register-collapse {
        background-color: rgb(255, 255, 255);
        border-radius: 25px;

        &__header {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        & .bkt-collapse__header {
            padding: 25px 40px;
        }

        &__title {
            font-weight: 700;
            font-size: 18px;
        }

        &__body {
            padding: 40px;
            row-gap: 20px;
        }

        &__search {
            padding: 15px 40px;
        }

        & .bkt-register__search-wrapper {
            border-bottom: 4px solid $body-bg;
            border-top: 4px solid $body-bg;
        }
    }

    & .bkt-bg-light-gray {
        background: rgb(244, 247, 254) !important;
    }

    &__title {
        margin-bottom: 50px;
        margin-top: 50px;

        & span {
            font-weight: 800;
            font-size: 30px;
        }
    }

    & .bkt-item-rounded {
        border-radius: 10px;
    }

    & .bkt-button-register {
        &:after {

        }
    }

    & .bkt-register-filters {
        &__body {
            padding: 0 40px;

            & .bkt-button {

            }
        }

        & .bkt-search {
            padding: 10px;
            background: rgb(244, 247, 254) !important;
        }

        & .bkt-search__input {
            background: none;
        }
    }

    & .bkt-select-register {
        height: 35px !important;
    }

    & .bkt-select__subtitle {
        color: rgb(180, 183, 190) !important;
    }

    & .bkt-region__item {
        background-color: rgb(224, 230, 254);
    }
}

@media (max-width: 576px) {
    .bkt-register {
        & .bkt-register-filters {
            flex-wrap: wrap;

            &__body {
                padding: 0 25px;

                & .bkt-register-filters__button {
                    padding: 16px 22px;
                    font-size: 12px;
                    line-height: 1.2;
                    border-radius: 13px;
                    max-width: 101px;
                    height: 44px;
                }
                & .bkt-search {
                    padding: 5px;
                }
            }

        }

        & .bkt-pagination-items {
            order: 1;
        }

        //* {
        //    font-size: 12px;
        //}

        & .bkt-register-collapse {
            border-radius: 18px;

            & .bkt-collapse__header {
                padding: 10px 6px 10px 10px;
            }

            &__header {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &__title {
                font-size: 12px;
            }

            &__body {
                padding: 25px;
                row-gap: 20px;
            }

            &__search {
                padding: 5px;

                & .bkt-search__input {
                    font-size: 12px;
                    padding: 0 15px;

                    &::placeholder {
                        color: rgba(45, 50, 68, 0.251);
                    }

                }
            }

            & .bkt-register__search-wrapper {
                border-bottom: 2px solid $body-bg;
                border-top: 2px solid $body-bg;
            }
        }
    }

}

