.bkt-tariffs {
    & .bkt-card {
        padding: 32px;

        &__title {
            font-size: 26px;
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: 700;
        }

        &__text {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 16px;
            font-weight: 500;
        }

    }

    & .bkt-badge {
        font-weight: 600;
        font-size: 12px;
        background: #FF6F66;
        border-radius: 12px;
        padding: 4px 8px;
        margin: 0;
        text-transform: none;
    }

    &__item {
        padding: 16px 24px !important;
        border: 1px solid #EBEBEB;
        border-radius: 25px !important;
        align-items: center;
        gap: 24px;
        min-height: 90px;
        cursor: pointer;

        &.current {
            background: $primary-default;
            border-color: $primary-default;

            & .bkt-card {
                &__title {
                    color: white;
                }

                &__text {
                    color: white;
                }

                &__subtitle {
                    color: #FFFFFFA3;
                }

            }

            & .bkt-badge {
                background: rgba(255, 255, 255, 0.87);
                color: $primary-default;
            }
        }

        &.active {
            //background: $green-default;
            //border-color: $green-default;
            align-items: flex-start;
            justify-content: center;
            border-color: white;
            cursor: default !important;
            gap: 5px;

            & .bkt-card {
                &__title {
                    font-size: 16px;
                    //color: white;
                }

                //&__text {
                //    color: white;
                //}
                //
                //&__subtitle {
                //    color: #FFFFFFA3;
                //}
            }

            & .bkt-badge {
                //background: rgba(255, 255, 255, 0.87);
                //color: $green-default;
                background: $green-default;
                color: white;
            }
        }
    }

    &__services {
        padding: 32px;
        border-radius: 16px;
        gap: 12px;
        height: 100%;

        & .bkt-card {
            &__title {
                margin-bottom: 12px;
            }
        }

        & svg {
            flex-shrink: 0;
        }
    }

    &__button {
        border-radius: 8px;
        padding: 20px 32px;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        min-width: 205px;
        box-shadow: 0px 6px 26px #B7C5FF;

        &:disabled {
            background: #2953FF;
            opacity: 0.5;
            color: #FCFCFC;
        }
    }

    & .bkt-form {
        gap: 24px 0;
    }

    @media screen and (max-width: 568px) {
        & .bkt-card {
            padding: 16px;
            border-radius: 18px;

            &__title {
                font-size: 20px;
            }

            &__text {
                font-size: 14px;
            }

            &__subtitle {
                font-size: 14px;
            }
        }

        & .bkt-badge {
            font-size: 10px;
            border-radius: 12px;
        }

        &__item {
            gap: 6px;
            padding: 16px !important;

            &.active {
                & .bkt-card {
                    &__title {
                        font-size: 14px;
                    }
                }
            }
        }

        &__services {
            border-radius: 12px;
        }
        & .bkt-form {
            gap: 16px 0;
        }
        &__button {
            padding: 16px 32px;
            font-size: 14px;
        }
    }
}
