.bkt-footer {
    width: 100%;
    min-height: 100px;
    background-color: rgb(27, 27, 44);
    color: $white !important;

    &__main {
        padding: 60px 0;
    }

    &__block {
        gap: 100px;
        align-items: flex-start;
        justify-content: center;
    }

    &__logo {
        max-width: 160px;
        min-width: 120px;
        display: block;
        width: 10vw;
        background: none;
        margin-bottom: 40px;
    }

    &__description {
        color: rgba(255, 255, 255, 0.4);
        font-family: $font-family-sans-serif;
        font-size: 12px;
        line-height: 1.667;
        text-align: left;
        margin-bottom: 40px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        & .bkt-button {
            height: 40px;
            max-width: inherit;
            flex-grow: 1;
            font-size: 14px;
            line-height: 14px;
            border-radius: 10px;
            padding: 12px 30px;
            //&:nth-of-type(1) {
            //    width: 140px;
            //    max-width: 140px;
            //    min-width: 80px;
            //    padding: 0;
            //    margin: 0 0 10px 0;
            //
            //    @media (min-width: 992px) {
            //        width: 120px;
            //        margin: 0 15px 0 0;
            //    }
            //}
            //
            //&:nth-of-type(2) {
            //    width: 140px;
            //    max-width: 140px;
            //    min-width: 100px;
            //    padding: 0;
            //}
        }
    }

    &__links {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        & a {
            color: $white !important;
        }

        & .bkt-footer__link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 600;
            color: white;
        }

    }

    &__socials {
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-items: center;
        margin-left: auto;
        gap: 20px;

        &-phone {
            font-size: 22px;
            font-family: $font-family-sans-serif;
            color: rgb(255, 197, 21);
            font-weight: 600;
            line-height: 0.909;
        }

        &-email {
            font-size: 14px;
            font-family: $font-family-sans-serif;
            color: rgba(255, 255, 255, 0.4);
            line-height: 1.571;
        }

        &-address {
            font-size: 14px;
            font-family: $font-family-sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.571;
        }

        &-links {
            margin-top: 20px;
            margin-left: auto;
            justify-items: center;
            align-items: center;
        }
    }

    &__politics {
        width: 100%;
        min-height: 70px;
        padding: 25px 0;
        background-color: rgb(49, 49, 75);
        align-items: center;

        &-copyright {
            font-size: 12px;
            font-family: $font-family-sans-serif;
            color: rgba(255, 255, 255, 0.4);
            line-height: 1.833;
            text-align: left;
            margin-bottom: 0;
        }

        &-links {
            display: flex;
            flex-wrap: nowrap;
            gap: 25px;

            & .bkt-footer__politics-link {
                font-size: 12px;
                font-family: $font-family-sans-serif;
                color: rgb(255, 255, 255);
                text-decoration: underline;
                line-height: 1.833;

            }
        }
    }
}


@media (max-width: 992px) {
    .bkt-footer {
        &__block {
            gap: 35px;
            margin-left: 20px;
            justify-content: flex-start;
        }

        &__socials {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            gap: 15px;

            &-links {
                margin-top: 0;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                gap: 10px;
            }
        }
    }
}


@media (max-width: 576px) {
    .bkt-footer {
        &__main {
            padding: 40px 0;
        }

        &__logo {
            min-width: 60px;
            max-width: 80px;
            width: 100%;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 8px;
            line-height: 1.5;
            margin-bottom: 50px;
        }

        &__buttons {
            flex-direction: column;
            gap: 6px;
            margin-top: 50px;

            & .bkt-button {
                height: 30px;
                width: 90px;
                font-size: 10px;
                padding: 9px 25px;
            }
        }

        &__block {
            gap: 35px 0;
            margin-left: 0px;
        }

        &__links {
            & .bkt-footer__link {
                margin-bottom: 14px;
                font-size: 12px;
                line-height: 12px;
            }
        }

        &__socials {
            &-phone {
                font-size: 18px;
                line-height: 1.111;
                text-align: center;
            }

            &-email {
                font-size: 12px;
                line-height: 1.833;
                text-align: center;
            }

            &-address {
                font-size: 12px;
                line-height: 1.833;
                text-align: center;
            }

            &-links {
                text-align: center;
                justify-items: center;
                margin-left: auto;
                gap: 6px;
            }
        }

        &__politics {
            padding: 20px 0;
            gap: 10px;

            &-copyright {
                font-size: 10px;
                line-height: 2.2;
                margin-right: auto;
            }

            &-links {
                gap: 15px;
                margin-right: auto;

                & .bkt-footer__politics-link {
                    font-size: 10px;
                    line-height: 2.2;
                }
            }
        }
    }
}
