.bkt-modal-content {
    background: $white;
    border-radius: 25px;
    padding: 0;
    position: relative;

    & .bkt-modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 50px 50px 0 50px;
        &__title {
            font-weight: 600 !important;
            color: $main-default;
            font-size: 22px;
        }

        & .bkt-close-button {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 0;
        }
    }

    & .bkt-modal-body {
        padding: 0 50px;
        & .bkt-search {
            padding: 10px;
            background: $body-bg;
            & .bkt-search__input {

            }
            & .bkt-search__button {
                font-size: $font-size-14;
                font-weight: 700;
            }
        }
    }

    & .bkt-modal-footer {
        padding: 0px 50px 50px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .bkt-modal-next {
            font-size: 12px;
            font-family: 'Gilroy', sans-serif;
            font-weight: 400;
            color: rgb(45, 50, 68);
            text-transform: uppercase;
            line-height: 1.833;
            text-align: left;
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor:pointer;

            & svg {
                transform: rotate(270deg);
            }
        }
        & .bkt-modal-delete {
            width: 70px;
            height: 70px;
            padding: 23px;
        }
        & .bkt-modal-save {
            height: 70px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px) {
    .bkt-modal-content {
        & .bkt-modal-header {
            & .bkt-close-button {
                position: absolute;
                top: -40px;
                right: -1px;
                padding: 0;
                width: 40px;
                height: 40px;
                border-radius: 13px 13px 0 0;
                background: $body-bg;

                & svg path {
                    fill: $primary-default;
                }
            }
        }
    }
}


