.bkt-pagination {
    margin-right: auto;
    margin-left: auto;
    & .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    //&.body-bg .pagination .page-item .page-link {
    //    background-color: $body-bg;
    //}

    & .page-item {
        & .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border: none;
            transition: all 0.1s ease-in-out;
            border-radius: 13px;
            min-width: 44px;
            height: 44px;
            font-size: 16px;
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            color: $main-default;
            line-height: 1.2;
            text-align: center;
            background-color: white;

            &:hover {
                color: #ffffff;
                background-color: rgb(41, 83, 255);
                box-shadow: 0px 7px 20px 0px rgba(41, 83, 255, 0.25);
            }
            &:focus {
                box-shadow: none;
                color: #ffffff;
                background-color: rgb(41, 83, 255);
            }
            //&:focus {
            //    color: $main-default;
            //    background-color: transparent;
            //    box-shadow: none;
            //    pointer-events: none;
            //}

        }
        &.dots {
            background-color: transparent;
            pointer-events: none;
            min-width: 29px;

            &  > .page-link, & > .page-link:hover {
                color: $main-default;
                background-color: transparent;
                box-shadow: none;
                pointer-events: none;
            }
        }
        &.active {
            & > .page-link, & > .page-link:hover {
                color: #ffffff;
                background-color: rgb(41, 83, 255);
                box-shadow: 0px 7px 20px 0px rgba(41, 83, 255, 0.25);
            }
        }
        &.disabled {
            & > .page-link, & > .page-link:hover {
                color: #ffffff;
                background-color: $neutral-default;
            }
        }
        &.page-item-control {
            min-width: 29px;
            & .page-link {
                background-color: transparent;
                box-shadow: none;
                width: 29px;
                &:hover {
                    //color: #ffffff;
                    //border-color: #169FED;
                    background-color: transparent;
                    box-shadow: none;
                }
            }
            &.disabled {
                & > .page-link, & > .page-link:hover {
                    color: #54646D;
                    border-color: #54646D;
                    background-color: transparent;
                }
            }
        }
    }

    & .page-item + .page-item {
        margin-left: 6px;
    }

    @media (min-width: 576px) {
        & .page-item {
            & .page-link {
                border-radius: 15px;
                width: 60px;
                height: 60px;
                font-size: 16px;
                font-family: "Gilroy";
                font-weight: 500;
                color: $main-default;
                line-height: 1.2;
                text-align: center;
            }
            &.dots {
                &  > .page-link {
                    width: 29px;
                }
            }
        }
        & .page-item + .page-item {
            margin-left: 6px;
        }
    }

    @media (min-width: 576px) {
        & .page-item {
            &.page-item-control + &.page-item-control {
                margin-left: 6px;
            }
        }
        & .page-item-control + .page-item, & .page-item + .page-item-control {
            margin-left: 6px;
        }
    }
}

.bkt-pagination_body {
    @extend .bkt-pagination;
    & .page-item {
        & .page-link {
            background-color: $body-bg;
        }
    }
}

