.bkt-row {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    flex-grow: 1;
    margin: 0;
    gap: 10px 0;
    &.outline {
        border: 2px solid $neutral-light;
    }
    &__icon {
        max-width: 22px;
        max-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__feature {
        display: flex;
        flex-direction: column;
        &-subtitle {
            //font-size: 12px;
            font-family: "Gilroy", sans-serif;
            color: rgba(45, 50, 68, 0.4);
            line-height: 1.833;
            margin: 0;
        }
        &-title {
            //font-size: 18px;
            font-family: "Gilroy", sans-serif;
            color: rgb(45, 50, 68);
            font-weight: 700;
            line-height: 1.222;
            margin: 0;
        }
        &-text {
            //font-size: 14px;
            font-family: "Gilroy", sans-serif;
            color: $main-default;
            line-height: 1.571;
            margin: 0;
        }
    }

    //& > * {
    //    flex-shrink: 0;
    //    //width: 100%;
    //    //max-width: 100%;
    //    padding-right: 5px;
    //    padding-left: 5px;
    //    margin-top: 10px;
    //}
}
