.bkt-simple-table {
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238, 242, 255);
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;

    & tr th:first-child,
    & tr td:first-child {
        text-align: center;
    }
    & tr td,
    & tr th {
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: rgb(238, 242, 255);
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 242, 255);
        font-size: 14px;
        padding: 19px;
    }

    & tr th:last-child,
    & tr td:last-child {
        border-right-width: 2px;
        border-right-style: none;
        border-right-color: rgb(238, 242, 255);
    }

    & tr:last-child td,
    & tr:last-child th {
        border-bottom-width: 2px;
        border-bottom-style: none;
        border-bottom-color: rgb(238, 242, 255);
    }

    & :not(tfoot) tr:first-child th:first-child,
    & :not(tfoot) tr:first-child td:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
    }

    & :not(tfoot) tr:first-child th:last-child,
    & :not(tfoot) tr:first-child td:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
    }

    & :not(thead) tr:last-child th:first-child,
    & :not(thead) tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    & :not(thead) tr:last-child th:last-child,
    & :not(thead) tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    & thead tr:first-child th,
    & thead tr:first-child td {
        border-top-style: none;
    }

    & thead tr:last-child th,
    & thead tr:last-child td {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: rgb(238, 242, 255);
    }

    & tfoot tr:last-child th,
    & tfoot tr:last-child td {
        border-bottom-style: none;
    }

    & tfoot tr:first-child th,
    & tfoot tr:first-child td {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: rgb(238, 242, 255);
    }

    & tr:first-child th,
    & tr:first-child td {
        border-top-style: none;
    }
}

@media (max-width: 576px) {
    .bkt-simple-table {
        & tr td,
        & tr th {
            font-size: 9px;
            padding: 12px;
        }
    }
}
